$sizes: (
  'xl': $xl,
  'lg': $lg,
  'md': $md,
  'sm': $sm,
);

@each $size, $px in $sizes {
  @include r(#{$px}) {
    .hidden-#{$size} {
      display: none !important;
    }
  }
}

@each $size, $px in $sizes {
  .visible-#{$size} {
    display: none !important;
  }
  @include r(#{$px}) {
    .visible-#{$size} {
      display: flex !important;
    }
  }
}
